body {
    background-color: #511ab765;
  }

.top-page-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0a0a0a74;
    padding-top: 120px;
    padding-bottom: 120px;
    border-radius: 15px;
    flex-wrap: wrap;
  }
  
.top-page-container::after {
    content: "";
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-image: url(/Group-projeckt-Bar/images/Bottles.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #511ab7;
    border-radius: 15px;
  }


.nav-bar-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.81);
    width: 100%;
    z-index: 1;
    border-radius: 5px;
  }
  
.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: "Denk One", sans-serif;
    border-radius: 10px;
  }
  
.li-nav {
    color: black;
    font-size: 20px;
    background-color: #511ab73b;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    position: relative;
    left: 30px;
    text-decoration: none;
  }
  
.li-nav:hover {
    cursor: pointer;
    background-color: rgba(165, 42, 42, 0.522);
    font-size: 25px;
    transition: all 0.8s ease-in-out;
    transition-delay: 0.2s;
  }
  
.img-logo {
    width: 70px;
    border-radius: 50%;
    position: relative;
    right: 30px;
  }
.img-logo:hover {
    cursor: pointer;
  }

 
h1{
      color: white;
      font-family: "Denk One", sans-serif; 
      font-size: 80px;
      display: flex;
      justify-content: center;
  }

h2 {
    color: white;
      font-family: "Denk One", sans-serif; 
      font-size: 50px;
      display: flex;
      justify-content: center;
  }

h3 {
    color: black;
    font-family: "Denk One", sans-serif; 
    text-align: center;
  }

p { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 3px;
    color: rgb(96, 96, 96);
  }
  
.venue-img, .relax-img, .party-img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  border-radius: 5px;
  margin-right: 15px;
}
  
.first-container, .third-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;
}

.second-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.history-container, .vision-container, .events-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}
